body {
	font-size: 14pt;
    margin: 1em;
    width: 210mm;
    height: 297mm;
}

h1 {
    background-color: rgba(32, 92, 126, 0.6);
    color: black;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.1em;
    font-family: 'arial';
    /* text-align: center; */
}

h2 {
    border-bottom: solid 1px rgb(32, 92, 126);
    color: rgb(32, 92, 126);
    /* text-transform: uppercase; */
}

h1, h2 {
    page-break-after: avoid;
    page-break-inside: avoid;
}

code {
	font-size: 12pt;
}

table {
	width: 100%;
	border-spacing: 0px;
	margin-bottom: 1em;
	border-collapse: collapse;
}

thead tr {
	background-color: rgba(32, 92, 126, 0.6);
}

tr {
	background-color: white;
}

td, th {
	border: solid 1px rgb(32, 92, 126);
	padding: 0.2em;
}

div.slide h1 {
	color: rgba(0, 0, 200, 0.7);
	border-bottom: solid 1px black;
}

div.figure {
    border: solid 1px rgb(32, 92, 126);
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

dt {
    font-weight: bold;
}

h3 {
    border-top: solid blue 1px;
    color: rgba(32, 92, 126, 0.6);
}

span.logo {
    color: orange;
}
