body {
	font-size: 14pt;
    margin: 1em;
}

h1 {
    background-color: rgba(32, 92, 126, 0.6);
    color: black;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    border-bottom: solid 1px rgb(32, 92, 126);
    color: rgb(32, 92, 126);
    text-transform: uppercase;
}

h1, h2 {
    page-break-after: avoid;
}

table {
	width: 100%;
	border-spacing: 0px;
	margin-bottom: 1em;
    border-collapse: collapse;
}

thead tr {
	background-color: rgba(32, 92, 126, 0.6);
}

tr {
	background-color: white;
}

td, th {
	border: solid 1px rgb(32, 92, 126);
	padding: 0.2em;
}

div.slide {
    margin: 1em 1em 1em 1em;
    border-bottom: solid 2px rgb(32, 92, 126);
}

div.slide h1 {
    color: white;
    background-color: rgba(32, 92, 126, 0.6);
    border-radius: 5px;
}

div.first-slide h1 {
    font-size: 3em;
}

div.figure {
    border: solid 1px rgb(32, 92, 126);
}

div.slides section h1 {
    background-color: rgb(32, 92, 126);
    border-radius: 5px;
    color: white;
}

body {
    background-color: lightgray;
}

section.footer h2 {
    position: absolute;
    left: 10%;
    top: 80%;
    width: 75%;
    padding: 0.5em;
    border: none;
    background-color: rgba(32, 92, 126, 0.6);
    border-radius: 5px;
    color: white;
    text-transform: none;
}

section.footer h2 .logo {
    color: orange;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

dt {
    font-weight: bold;
}
